body {
	font-family: arial, sans-serif;
}

.header {
	position: absolute;
	right: 0;
	top: 5px;
	left: -30px;
}

.header li {
	list-style-type: none;
	font-size: 13px;
	display: inline-block;
	padding-left: 15px;
	opacity: 0.75;
}

.r_header {
	float: right;
	display: block;
	padding-right: 8px;
}

.main {
	margin: auto;
	width: 400px;
	border: 3px;
	padding: 200px;
}

.logo {
	text-align: center;
}

#l_button, #r_button {
	height: 36px;
	line-height: 27px;
	border: 1px solid #c6c6c6;
	border-radius: 2px
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	margin: 11px 4px;
	padding: 0px 16px;
	background-color: #f2#f2#f2;
}

.buttons {
	text-align: center;
}

#input_box {
	width: 100%;
	padding: 5px 9px 0;
}

.footer {
	position: absolute;
	right: 0;
	bottom: -5px;
	left: -30px;
	padding: 5px;
	background-color: lightgrey;
}

.footer li {
	list-style-type: none;
	font-size: 13px;
	display: inline-block;
	padding: 0px 15px;
	opacity: 0.75;
}

.r_footer {
	float: right;
	display: block;
	padding-right: 8px;
}